name: Build and Test

on:
  pull_request:
    branches:
    - main
  push:
    branches:
    - main

jobs:
  build-test:
    strategy:
      matrix:
        environment: ['ubuntu-latest', 'windows-latest']
        mq-client-version: [9.4.4.0]
    runs-on: ${{ matrix.environment }}
    steps:
      - uses: actions/checkout@v4

      - name: Cache MQ Client
        uses: actions/cache@v4
        with:
          path: ${{ github.workspace }}/distr
          key: mqclient-${{ runner.os }}-${{ matrix.mq-client-version }}

      - name: Install MQ Client
        uses: SeyfSV/setup-mqclient@v0.3.1
        with:
          mq-client-version: ${{ matrix.mq-client-version }}
          download-path: ${{ github.workspace }}/distr
      
      - name: Setup Go environment
        uses: actions/setup-go@v5.0.1
            
      - name: Check MQ version
        working-directory: ./
        run: dspmqver

      - name: Build and test
        working-directory: ./
        run: ./local-test.sh
        shell: bash
      
      - name: Build and test (SSL)
        working-directory: ./
        run: ./local-test-ssl.sh
        shell: bash
      
      - uses: ncipollo/release-action@v1
        with:
          artifacts: "./k6*"
          draft: true
        if: github.event_name == 'push'